<div class="well">
<h1>My Cart</h1>
</div>

<div class="well">
<% @line_items.each do |line_item| %>
	<p><%= line_item.product.name %></p>
	<p>Quantity: <%= line_item.quantity %></p>
	<p>Price: <%= number_to_currency line_item.product.price %></p>
	<p>Subtotal: <%= number_to_currency line_item.line_item_total %></p>
	<br /> <br />
<% end %>
</div>

<%= link_to "Proceed to Checkout?", checkout_path, class: "btn btn-primary" %>